body {
    margin: 0;
}

main {
    background-image: url("../img/garage-background-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding-top: 50px;
    height: 94vh;
}

h1 {
    color: white;
}

#container {
    width: 1100px;
    margin: 0 auto;
    background-color: rgb(51, 0, 51);
    padding: 50px 0;
    opacity: 0.8;
    display: grid;
    grid-template-columns: 1fr 3fr;
	grid-template-rows: 150px auto;
}

header {
    grid-column: 1 / 3;
    text-align: center;
}

#left-side {
    grid-column: 1 / 2;
}

#output {
    opacity: 1;
    height: 120px;
    width: 160px;
    background-color: black;
    color: white;
    border: 3px solid white;
    font-weight: 500;
    font-size: larger;
}

button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    width: 160px;
    margin-top: 25px;
}

button:hover {
    background-color: #fcefec;
    color: black;
}

#right-side {
    grid-column: 2 / 3;
}

.box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#parkingGrid {
    display: grid;
    grid-template-columns: repeat(7, 100px);
	grid-template-rows: repeat(3, 150px);
    border: 3px solid black;
}

.parking-ground {
    background-color: grey;
    border: 1px solid black;
    font-size: xx-large;
    text-align: center;
    vertical-align: text-bottom;
    padding-top: 50px;
}

#mid-lane {
    grid-column: 1 / 8;
}

@media screen and (max-width: 1099px) {

    h1 {
        font-size: 5vw;
    }

    #container {
        width: 90vw;
        padding: 30px 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

    header {
        grid-column: 1 / 3;
        text-align: center;
    }

    #left-side {
        grid-column: 1 / 3;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        row-gap: 35px;
        column-gap: 20px;
        margin: 50px 0px;
    }

    #output {
        height: 20vw;
        width: 30vw;
        font-size: 3vw;
        font-weight: 500;
        margin: 0px 30vw;
    }

    button {
        padding: 1vw 2vw;
        font-size: 3vw;
        width: 22vw;
        margin: 0px;
        transition: 0.3s;
        cursor: pointer;
    }

    #right-side {
        grid-column: 1 / 3;
    }

    #parkingGrid {
        grid-template-columns: repeat(7, 11vw);
        grid-template-rows: repeat(3, 15vw);
        border: 0.3vw solid black;
    }

    .parking-ground {
        padding-top: 6vw;
        font-size: 3vw;
        border: 0.1vw solid black;
    }
}